## Setting the default language. The argument must be an ISO-639-1/2 language code.
# website.lang: de

## Adding some extensions to the copy source handler.
patterns:
  Copy:
    add: ["**/*.css", "**/*.js", "**/*.jpg", "**/*.png", "**/*.gif", "**/*.zip", "**/*.ico", "google*.html", "y_key_*.html", "yandex_*.txt", "robots.txt"]

# Required for Atom feed generator
website.base_url: http://www.inquisitor.ru/
