html, body {
	height: 100%;
}
body {
	padding: 0;
	margin: 0 auto;
	background: rgb(95, 95, 95);
	width: 100%;
	height: 100%;
	font-size: 13px;
	font-family: "Trebuchet MS",Verdana,Tahoma,Arial,sans-serif;
	color: #333333;
}

a {
	text-decoration: none;
	color: #333333;
}
a:hover {
	text-decoration: underline;
}
img {
	text-decoration: none;
	border-style: solid;
	border-width: 0px;
}
form {
	padding: 0px;
	margin: 0px;
}
#clear {
	clear: both;
}

/*Фон*/

#page-body {
	margin: 0 auto;
	padding: 0;
	background-image: url('images/bg_01.jpg');
	background-repeat: repeat-x;
	height: 100%;
	width: 1055px;
}

/*Шапка*/

#header {
	margin: 0 auto;
	padding: 0;
	height: 207px;
	width: 1055px;
	background-image: url('images/header.jpg');
	background-repeat: no-repeat;
}
#header .logo {
	background-image: url('images/inq-logo.png');
	background-repeat: no-repeat;
	position: relative;
	height: 200px;
	background-position: 115px 35px;
}

#left {
	padding: 0px 0px 40px 0px;
	margin: 0px;
	float: left;
	min-height: 696px;
	background-repeat: no-repeat;
	background-position: left top;
	border-style: solid;
	border-width: 0px 1px 0px 0px;
	border-color: #E1E1E1;
	width: 303px;
}

#navigation {
	vertical-align: top;
	text-align: left;
	padding: 25px 20px 0px 68px;
}
#navigation ul {
	padding: 0px;
	margin: 0px;
}
#navigation li {
	background-position: 5px 9px;
	list-style-type: none;
	padding: 2px 5px 2px 19px;
	margin: 0px;
	border-style: solid;
	border-width: 1px 0px 0px 0px;
	border-color: #EAEAEA;
	background-image: url('images/st_03.gif');
	background-repeat: no-repeat;
}
#navigation li:hover {
	background-color: #EEEEEE;
	background-image: url('images/st_02.gif');
}
#navigation .webgen-menu-item-selected {
	background-image: url('images/st_01.gif');
	background-color: #F5F5F5;
	font-weight: bold;
}
#navigation .level1-active {
	background-image: url('images/st_02.gif');
}
#navigation .level2 {
	padding: 4px 0px 2px 33px;
	background-position: 19px 9px;
	background-image: url('images/st_03.gif');
}
#navigation .level2-active {
	padding: 4px 0px 2px 33px;
	background-position: 19px 9px;
	background-image: url('images/st_02.gif');
	font-weight: bold;
}

/*Контент*/

#content {
	padding: 28px 75px 40px 25px;
	float: right;
	width: 651px;
	line-height: 20px;
}
#content a {
	color: #2B5AA2;
	text-decoration: underline;
	font-weight: bold;
}
#content h2 {
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: #CCCCCC;
	font-size: 20px;
	padding: 0px 0px 2px 0px;
	margin: 0px 0px 18px 0px;
	font-variant: small-caps;
}
#content ol li {
	padding: 0px 0px 15px 0px;
	margin: 0px 0px 0px 25px;
	list-style-type: decimal;
}
#content strong {
	font-weight: bold;
	color: #CC0000;
}
#content .titles {
	margin: 0px 0px 20px 0px;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: #CCCCCC;
	padding: 0px 0px 2px 0px;
}
#content .read-more {
	float: right;
}
#content .read-more a {
	color: #346CB1;
}
#content .h2 {
	font-variant: small-caps;
	font-size: 20px;
	float: left;
}
#content pre {
	border: 1px dashed #303030;
	background: #F0F0F0;
	padding: 0.5em;
}
#content h6 {
	float: left;
	font: 100% monospace;
	border-right: 1px #CCCCCC;
	width: 12em;	
}
#center {
	padding: 0px;
	background-image: url('images/bg_04.jpg');
	margin: 0px;
}

#sidebar {
	border-style: solid;
	border-width: 1px 0px 0px 0px;
	border-color: #E4E4E4;
	padding: 23px 20px 0px 42px;
	margin: 30px 0px -18px 48px;
	line-height: 20px;
}
#sidebar h3 {
	background-image: url('images/st_05.gif');
	background-position: 0px 3px;
	padding: 0px 0px 0px 15px;
	background-repeat: no-repeat;
	margin: 0px 0px 0px -17px;
	font-weight: bold;
	font-size: 13px;
}
#sidebar h2 {
	font-weight: bold;
	font-size: 100%;
	margin: 0;
	padding: 0;
}
#sidebar p {
	margin: 0px;
	padding: 0px;
}
#sidebar a {
	color: #375E9D;
	text-decoration: underline;
}
#sidebar .item {
	padding: 0px 0px 20px 0px;
}

#banner_01 {
	border-style: solid;
	border-width: 1px 0px 0px 0px;
	border-color: #E4E4E4;
	padding: 25px 20px 0px 27px;
	margin: 25px 0px 0px 48px;
}

/*Низ*/
#bottom {
	height: 135px;
	background-image: url('images/bg_06.png');
	background-repeat: no-repeat;
	text-align: left;
	vertical-align: top;
	padding: 20px 0px 0px 335px;
	margin: 0px;
	font-size: 12px;
}
#bottom a {
	text-decoration: underline;
	color: #2B5AA2;
	padding: 0px 20px 0px 0px;
	margin: 0px 0px 10px 0px;
}
#bottom p {
	padding: 0px 0px 5px 0px;
	margin: 0px;
}
#bottom .info {
	float: left;
}
#bottom .sponsors {
	float: right;
	width: 230px;
}

#topbar {
	background-image: url('images/bg_03.png');
	background-repeat: no-repeat;
	height: 26px;
	text-align: right;
	vertical-align: top;
	padding: 6px 75px 0px 0px;
	margin: 0px;
	color: #EEEEEE;
}
#language span {
	font-weight: bold;
	color: #FFFFFF;
}
#topbar a {
	color: #BBBBBB;
}
#locationbar {
	color: #EEEEEE;
	float: left;
	margin-left: 320px;
}

/*Выравнивание*/
#to-left {
	float: left;
	padding: 0px;
	margin: 0px 20px 0px 0px;
}
#to-right {
	float: right;
	padding: 0px;
	margin: 0px 0px 0px 20px;
}
#to-center-content {
	margin: 0px;
	padding: 0px 0px 0px 100px;
}
#height_01 {
	height:15px;
}

.readmore {
	text-align: right;
	margin: -10px 10px 4em 0;
}

.supportform td {
	vertical-align: top;
}
