body {
	padding: 0;
	margin: 0 auto;
	background: rgb(95, 95, 95);
	font-size: 13px;
	font-family: "Trebuchet MS",Verdana,Tahoma,Arial,sans-serif;
	color: #333333;
}

/* Generic HTML elements stylishness */

a {
	text-decoration: none;
	color: #333333;
}
a:hover {
	text-decoration: underline;
}
img {
	text-decoration: none;
	border-style: solid;
	border-width: 0px;
}
form {
	padding: 0px;
	margin: 0px;
}

/* Top-level "wrap" regions */

#header-wrap {
	margin: 0 auto;
	padding: 0;
	height: 207px;
	background: url('images/header.jpg') center top no-repeat;
}
#body-wrap, #toolbar-wrap, #footer-deco1, #footer-wrap {
	margin: 0 auto;
	padding: 0;
	background: url('images/bg_04.jpg') repeat-y scroll center top;
}
#footer-deco1 {
	height: 4px;
}
#footer-wrap {
	height: 129px;
}
/*	background: url('images/bg_06.png') center top no-repeat;*/
#footer-deco2 {
	margin: 0 auto;
	padding: 0;
	height: 51px;
	background: url('images/footer.png') center top no-repeat;
}

/* Real top-level regions */

#header {
	width: 960px;
	margin: 0 auto;
}
#toolbar1 {
	margin: 0 auto;
	padding: 0;
	width: 960px;
	background: #DF2203;
}
#body {
	margin: 0 auto;
	padding: 0;
	width: 960px;
	background: #FFFFFF url('images/bg_04.jpg') repeat-y scroll center top;
}
#footer {
	margin: 0 auto;
	padding: 0;
	width: 960px;
	height: 130px;
	text-align: left;
	vertical-align: top;
	font-size: 12px;
	background: #E0E0E0 url('images/footer-logo.png') 24px 32px no-repeat;
}

/* Toolbar */

#toolbar2 {
	margin-left: 255px;
	background: #000000;
	color: #EEEEEE;
}
#location-bar {
	padding: 0.3em 16px;
	float: left;
}
#language-bar {
	padding: 0.3em 25px;
	float: right;
}

#toolbar2 a {
	color: #BBBBFF;
	text-decoration: underline;
}
#language-bar span {
	font-weight: bold;
	color: #FFFFFF;
}

/* Footer */

#footer-deco1-1 {
	margin: 0 auto;
	padding: 0;
	width: 960px;
	height: 4px;
	background: #DF2203;
}
#footer-deco1-2 {
	margin-left: 255px;
	height: 4px;
	background: #353535;
}

#footer2 {
	margin-left: 255px;
	background: #F0F0F0;
	padding-left: 32px;
	padding-right: 32px;
	padding-top: 16px;
	height: 114px;
}
#footer2 a {
	text-decoration: underline;
	color: #2B5AA2;
}
#footer2 p, #footer2 ul {
	padding: 0px;
	margin: 0px 0px 5px 0px;
}
#footer2 li {
	display: inline;
	padding-right: 20px;
	margin: 0px;
}
#footer .sponsors {
	float: right;
	width: 148px;
}

#left {
	padding: 0px;
	margin: 0px;
	float: left;
	border-style: solid;
	border-width: 0px 1px 0px 0px;
	border-color: #E1E1E1;
	width: 255px;
}

#navigation {
	vertical-align: top;
	text-align: left;
	padding: 25px 20px 30px 20px;
}
#navigation ul {
	padding: 0px;
	margin: 0px;
}
#navigation li {
	background-position: 5px 0.5em;
	list-style-type: none;
	padding: 2px 5px 2px 19px;
	margin: 0px;
	border-style: solid;
	border-width: 1px 0px 0px 0px;
	border-color: #EAEAEA;
	background-image: url('images/st_03.gif');
	background-repeat: no-repeat;
}
#navigation li:hover {
	background-color: #EEEEEE;
	background-image: url('images/st_02.gif');
}
#navigation .webgen-menu-item-selected {
	background-image: url('images/st_01.gif');
	background-color: #F5F5F5;
	font-weight: bold;
}
#navigation .level1-active {
	background-image: url('images/st_02.gif');
}
#navigation .level2 {
	padding: 4px 0px 2px 33px;
	background-position: 19px 9px;
	background-image: url('images/st_03.gif');
}
#navigation .level2-active {
	padding: 4px 0px 2px 33px;
	background-position: 19px 9px;
	background-image: url('images/st_02.gif');
	font-weight: bold;
}

/*Контент*/

#content {
	padding: 28px 28px 40px 25px;
	float: right;
	width: 651px;
	line-height: 20px;
}
#content p {
	margin: 0.5em 0em;
}
#content a {
	color: #2B5AA2;
	text-decoration: underline;
	font-weight: bold;
}
#content h2 {
	clear: right;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: #CCCCCC;
	font-size: 20px;
	padding: 0px 0px 2px 0px;
	margin: 0px 0px 18px 0px;
	font-variant: small-caps;
}
#content h3, #content h4 {
	margin: 1em 0em 0.5em 0em;
}
#content ol li {
	padding: 0px 0px 15px 0px;
	margin: 0px 0px 0px 25px;
	list-style-type: decimal;
}
#content strong {
	font-weight: bold;
	color: #CC0000;
}
#content .titles {
	margin: 0px 0px 20px 0px;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: #CCCCCC;
	padding: 0px 0px 2px 0px;
}
#content pre {
	border: 1px dashed #303030;
	background: #F0F0F0;
	padding: 0.5em;
	font-size: 12px;
}
#content h6 {
	clear: both;
	float: left;
	font-size: 20px;
	font-weight: bold;
	border-right: 1px solid #CCCCCC;
	width: 6.2em;
	padding: 0px;
	margin: 0px 0.8em 0px 0px;
}
#content .readmore {
	float: right;
	margin-bottom: 4em;
	padding: 0.3em 1.2em;
	background: #5E5E5E;
	color: #FFFFFF;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
#content .readmore a {
	color: #FFFFFF;
	text-decoration: none;
}
#content .readmore a:hover {
	text-decoration: underline;
}
#content table.toc {
	border-top: 2px solid rgb(82, 123, 189);
	border-bottom: 2px solid rgb(82, 123, 189);
	border-collapse: collapse;
}
#content table.toc tr td, #content table.toc tr th {
	border: 1px solid black;
	padding: 0em 0.3em;
}

#sidebar {
	border-style: solid;
	border-width: 1px 0px 0px 0px;
	border-color: #E4E4E4;
	padding: 23px 20px 0px 42px;
	margin: 0px 0px 20px 0px;
	line-height: 20px;
}
#sidebar h3 {
	background-image: url('images/st_05.gif');
	background-position: 0px 3px;
	padding: 0px 0px 0px 15px;
	background-repeat: no-repeat;
	margin: 0px 0px 0px -17px;
	font-weight: bold;
	font-size: 13px;
}
#sidebar h2 {
	font-weight: bold;
	font-size: 100%;
	margin: 0;
	padding: 0;
}
#sidebar p, #sidebar ul {
	margin: 0px;
	padding: 0px;
}
#sidebar a {
	color: #375E9D;
	text-decoration: underline;
}
#sidebar .item {
	margin: 0px 0px 20px 0px;
}

#download_button {
	border-top: 1px solid #E4E4E4;
	padding: 25px;
	text-align: center;
}

/*Выравнивание*/
#to-left {
	float: left;
	padding: 0px;
	margin: 0px 20px 0px 0px;
}
#to-right {
	float: right;
	padding: 0px;
	margin: 0px 0px 0px 20px;
}
#to-center-content {
	margin: 0px;
	padding: 0px 0px 0px 100px;
}
#height_01 {
	height:15px;
}


.supportform td {
	vertical-align: top;
}

/* Einarc reference manual, converted from asciidoc -> DocBook -> HTML */
#content h2.title {
	margin-top: 2em;
}

/* SF Logo alignment */
#sflogo img {
	vertical-align: -3px;
}

/* Gallery */
ul.gallery {
	margin: 0px;
	padding: 0px;
}

ul.gallery li {
	display: block;
	list-style-type: none;
	float: left;
	width: 320px;
	height: 320px;
	padding-right: 3px;
}

ul.gallery li img {
	border: 1px solid #E0E0E0;
}
